body{
    background-color: lightblue;
    font-family: 'Special Elite', cursive;
}

#top-div{
    background-color: rgba(253, 165, 0, 0.671);
    border: .2em solid black;
    border-radius: .3em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    margin-left: 33%;
    margin-right: 33%;
}

h1{
    text-align: center;
    
}

#title-label{
    margin-left: 33%;
}

#title{
    padding-bottom: .5em;
    margin-bottom: 1em;
}

#due-label{
    margin-left: 33%;
}

#due{
    padding-bottom: .2em;
    margin-bottom: 1em;
}

#finish-label{
    margin-left: 33%;
}

#complete{
    margin-bottom: 1em;
}

#add{
    margin-left: 33%;
}

h3{
    text-align: center;
}

.todo {
    text-align: center;
    width: 10%;
    box-sizing: border-box;
    background-color: lightsalmon;
    padding: .5em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
    margin-left: 45%;
}

.todo h3 {
    margin: 0px;
}

.todo p {
    margin: 0px;
}

.complete {
    opacity: 40%;
    background-color: lightsalmon;
    text-decoration: line-through;
}